@media screen and (max-width: 1100px){
    .navbar h1{
        font-size: 50px;
    }
    .navbarcontent ul li{
        height: 100px;
        width: 100px;
        color: white;
        margin-left: 100px ;
    }
}